body{
	margin: 0;
	font-family: Arial, sans-serif;
}
h3{
	margin: 0;
	text-align: center;
}
h1{
	margin: 0;
}
#rooms{
	height: 100%;
	width: 20%;
	float:left;
	margin: 0;
	border-right: 0.1rem solid;

}
#listOfRooms{
	height: 80%;
	width: 100%;
	overflow-y:auto;
	float:left;
}
#inputField{
	position: absolute;
	bottom: 5px;
	height:auto;
	width:auto;
	float:left;
}
#chatlog{
	height:90%;
	width:55%;
	float:left;
	overflow-y:auto
}
#room{
	float:left;
	margin: .1em;
}
#website{
	height:100%;
	width:100%:
}
#userBar{
	height:90%;
	width:20%;
	float:right;
}
#choosePFP{

}
#pfp1{
}
#choosePFP + #pfp1, #pfp1:hover{
	display: block;
}
